{% extends 'layouts/default.html' %}
{% block content %}
  <section data-ui-view ></section>
  <script type="text/javascript">
    window.user = {{user|json|safe}};
    window.modules = {{modules|json|safe}};
  </script>
{% endblock %}

{% block slider %}
    {% include 'includes/slider.html' %}
{% endblock %}

{% block homepage-marketing %}
	{% include 'includes/homepage-marketing.html' %}
{% endblock %}

