<!--
{% extends 'auth.html' %}

{% block auth %}
    <form class="signin form-horizontal" action="/users" method="post">
        <div class="form-group">
            <label class="col-md-4 control-label" for="name">Full Name</label>
            <div class="col-md-8">
                <input id="name" class="form-control" type="text" name="name" placeholder="Full Name" value="{{user.name}}" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label" for="email">Email</label>
            <div class="col-md-8">
                <input id="email" class="form-control" type="text" name="email" placeholder="Email" value="{{user.email}}" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label" for="username">Username</label>
            <div class="col-md-8">
                <input id="username" class="form-control" type="text" name="username" placeholder="Username" value="{{user.username}}" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label" for="password">Password</label>
            <div class="col-md-8">
                <input id="password" class="form-control" type="password" name="password" placeholder="Password" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-4 col-md-8">
                <button class="btn btn-primary" type="submit">Sign up</button>&nbsp;
                or&nbsp;<a class="show-login" href="/signin">login</a>
            </div>
        </div>
    </form>
{% endblock %}
-->