<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en">

{% include '../includes/head.html' %}

<body ng-cloak class="ng-cloak">

 <div id="globalWrapper" class="localscroll">


            <!-- header -->
            <header id="mainHeader" class="navbar-fixed-top" role="banner" data-ng-controller="HeaderController">
                <div class="container">
                    <nav class="navbar navbar-default scrollMenu" role="navigation">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="/">
                                <img src="/system/assets/img/logo.png" class="img-responsive logo" alt="Intelling.io"/></a>
                        </div>

                        <div class="collapse navbar-collapse navbar-ex1-collapse" id="scrollTarget">

                                <ul  data-ng-hide="global.authenticated" class="nav navbar-nav pull-right">

                                    <li class="active"><a ng-click="gotoAnchor('about')">About<i class="glyphicon glyphicon-home web"></i></a></li>
                                    <!--<li><a href="#services">Services<i class="glyphicon glyphicon-heart"></i></a></li>-->
                                    <li><a ng-click="gotoAnchor('contact')">Contact Us<i class="glyphicon glyphicon-envelope web"></i></a></li>
                                    <li><a ui-sref='auth.register' ng-click="gotoAnchor('home')">Register<i class="glyphicon glyphicon-signal web"></i></a></li>
                                    <li><a ui-sref='auth.login' ng-click="gotoAnchor('home')">Login<i class="glyphicon glyphicon-flash web"></i></a></li>
                                </ul>



                                <div data-ng-include="'/system/views/header.html'"></div>





                          </div>

                        </nav>

                    </div>


                    <div class="color-bar web">

                        <div data-ng-include="'/system/views/subnav.html'"></div>

                    </div>




                </header>



            <div data-ng-controller="HeaderController" data-ng-hide="global.authenticated">



                <section class="color4 slice" id="home">
                    <div class="ctaBox ctaBoxFullwidth">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-8">
                                <div class="flexslider web" id="flexHome">
                                    {% block slider %}{% endblock %}
                                </div>
                            </div>
                            <div class="col-md-4">

                                {% block content %}{% endblock %}
                            </div>

                        </div>
                    </div>
                </div>


                </section>
            </div>



            <div data-ng-controller="HeaderController" data-ng-show="global.authenticated" class="container">


            {% block content %}{% endblock %}

            </div>

            <span id="about" data-ng-controller="HeaderController" data-ng-hide="global.authenticated">

                 {% block homepage-marketing %}{% endblock %}
            </span>

</div>

<div id="footer">


    {% include '../includes/foot.html' %}


</div>

</body>
    </html>
