<div class="header" data-ng-controller="HeaderController">

  <ul class="top-nav nav pull-right" data-ng-show="global.authenticated">

        <li class="dropdown">

            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Welcome, {{global.user.name}} <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
                <li><a href="/logout">Sign out</a>
                </li>
            </ul>
        </li>

    </ul>

    <ul class="navbar-nav nav pull-right" data-ng-show="global.user.roles.indexOf('student') !== -1">


                <li data-ng-repeat="item in menus.student" ui-route="/{{item.link}}" ui-sref-active="active">

                    <a mean-token="item.link" ui-sref='{{item.link}}'>

                        <span class="icon web">
                            <i class="{{item.icon}}"></i>
                        </span>

                        <span>{{item.title}}</span>


                    </a>

                </li>

    </ul>

    <ul class="navbar-nav nav pull-right" data-ng-show="global.user.roles.indexOf('teacher') !== -1">


                <li data-ng-repeat="item in menus.teacher" ui-route="/{{item.link}}" ui-sref-active="active">

                    <a mean-token="item.link" ui-sref='{{item.link}}'>

                        <span class="icon web">
                            <i class="{{item.icon}}"></i>
                        </span>

                        <span>{{item.title}}</span>


                    </a>

                </li>

    </ul>

    <ul class="navbar-nav nav pull-right" data-ng-show="global.user.roles.indexOf('admin') !== -1">


                <li data-ng-repeat="item in menus.admin" ui-route="/{{item.link}}" ui-sref-active="active">

                    <a mean-token="item.link" ui-sref='{{item.link}}'>

                        <span class="icon web">
                            <i class="{{item.icon}}"></i>
                        </span>

                        <span>{{item.title}}</span>


                    </a>

                </li>

    </ul>



</div>
