 
<div data-ng-controller="HeaderController" data-ng-show="global.authenticated">
 
    <h1>Welcome</h1>

    <img class="web" src="/system/assets/img/listen-girl.png" alt="Welcome to Intelling.io"/>

</div> 