
  <h1 data-ng-show="global.authenticated">Welcome to Intelling.io!</h1>

  <span class="col-md-6" data-ng-show="global.authenticated">

    <h2 data-ng-show="!global.isAdmin">We will confirm your membership and send you an email soon!</h2>
    <h2 data-ng-show="global.isAdmin">Welcome, Admin User. Use the tab at the top to manage users of this system.</h2>

  </span>

  <span class="col-md-6 web">

    <img src="/system/assets/img/listen-girl.png" alt="Welcome to Intelling.io"/>

  </span>
