

    <li data-ng-repeat="item in menus.curriculum" ui-route="/{{item.link}}" ui-sref-active="active" data-ng-show="global.user.roles.indexOf('teacher') !== -1">

        <a mean-token="item.link" ui-sref='{{item.link}}'>

            <span class="icon web">
                <i class="{{item.icon}}"></i>
            </span>
                    
            <span>{{item.title}}</span>

        </a>                
                        
   	</li>
  
