<h1>Welcome!</h1>

    <section data-ng-controller="AssignmentController" data-ng-init="findMy()">

        <h3 data-ng-hide="!assignments || assignments.length">No assignments yet.</h3>

            <table data-ng-show="!assignments || assignments.length" class="table table-striped table-bordered table-hover editable-table">

                <th>Assignment Name</th>
                <th>Assignment Type</th>
                <th>Class Name</th>
                <th>Created By</th>

                <tbody data-ng-repeat="assignment in assignments">

                    <tr data-ng-show="!assignment.completed">
                        <td>
                            <a data-ng-href="#!/assignment/{{assignment.curriculumTypeId}}/{{assignment.curriculumId}}">{{assignment.curriculumName}}</a>
                        </td>
                        <td>
                            {{assignment.curriculumType}}
                        </td>
                        <td>
                            {{assignment.edClass.classname}}
                        </td>

                        <td>
                            {{assignment.created | date:'short'}} by {{assignment.user.name}}
                        </td>

                    </tr>

                </tbody>
            </table>

    </section>
