<style>
 .comic{
 	float:left; 
 	width:100px; 
 	height:35px; 
 	margin:10px;
 	padding:10px;
 	border:1px solid red;}
 .comic-init{
 	float:left; 
 	width:100px; 
 	height:35px; 
 	margin:10px;
 	padding:10px;
 	border:1px solid black;}
</style>




<section ng-app="dragDrop" ng-controller="StudentsController">
	<h1>Comic Builder</h1>
 

<script>
function allowDrop(ev) {
    ev.preventDefault();
}

function drag(ev) {
    ev.dataTransfer.setData("Text", ev.target.id);
}

function drop(ev) {
    ev.preventDefault();
    var data = ev.dataTransfer.getData("Text");
    ev.target.appendChild(document.getElementById(data));
}
</script>

<div class="comic-init" id="div1" ondrop="drop(event)" ondragover="allowDrop(event)">
  <img src="/system/assets/img/logo.png" draggable="true" ondragstart="drag(event)" id="drag1" width="88" height="31">
</div>

<div class="comic" id="div2" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
<div class="comic" id="div3" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
<div class="comic" id="div4" ondrop="drop(event)" ondragover="allowDrop(event)"></div>





</section>