  <section data-ng-controller="ListeningCompController" data-ng-init="findOne()" >


            <h1>{{listeningcomp.title}}</h1>
            <h2>A Listening <span ng-show="listeningcomp.show_text">and Reading </span>Comprehension Exercise</h2>

          <div class="panel panel-primary">

              <div class="panel-heading">1. Listen to this recording <span ng-show="listeningcomp.show_text">and read the text</span></div>
              <div class="panel-body">

                  <div ng-show="listeningcomp.show_text">
                      <p>{{listeningcomp.paragraph}}</p>
                  </div>

                    <div class="audio-player">
                      <audio id="audio-tag" data-ng-src="{{listeningcomp.recordingUrl || ''}}" controls data-ng-show="listeningcomp.recordingUrl">
                        Your browser does not support the audio element; please use Chrome.
                      </audio>
                    </div>
              </div>
          </div>


    </section>


    <section data-ng-controller="AssignmentController" data-ng-init="findOneAssignment()" >

      <div class="panel panel-primary">

          <div class="panel-heading">2. Answer the following questions:</div>
          <div class="panel-body">

      <form id="response-form" class="form-inline" role="form" name="responseForm" data-ng-submit="update(responseForm.$valid)" novalidate>

        <div class="alert alert-danger animated fade in" ng-show="error">{{error}}</div>
        <div class="alert alert-success animated fade in" ng-show="success">{{success}}</div>

            <table class="table">
              <tr data-ng-repeat="response in assignment.responses">
                    <td>
                        <span>{{response.question}}</span>
                    </td>
                    <td>
                     <div class="form-group">
                         <input class="form-control" data-ng-model="response.answer" required>
                     </div>
                    </td>
                </tr>
            </table>

            <button class="btn btn-primary btn-sm" type="submit" value="Submit">Submit Answers</button>

        </form>

          </div>
      </div>
  
    </section>
