
<section data-ng-controller="OnlineOralsController" data-ng-init="findOneAssignment()">

<h1>{{onlineorals.title}}</h1>

<div class="panel panel-primary">
    <div class="panel-heading">1. Listen to this recording</div>
    <div class="panel-body">

        recording goes here

  </div>
</div>

<div class="panel panel-primary">
    <div class="panel-heading">2. Record your answer</div>
    <div class="panel-body">

        recording goes here

    </div>
</div>

</section>
