

<section data-ng-controller="QuizzesController" data-ng-init="findOneAssignment()">

<h1>{{quiz.title}}</h1>

  <div class="panel panel-primary">
    <div class="panel-heading"></div>
    <div class="panel-body">

        quiz here.

  </div>


</section>
