<h1>My Progress</h1>

 	<section data-ng-controller="StudentsController" data-ng-init="findMyGrades()">

       <h3 data-ng-hide="!grades || grades.length">No grades have been returned yet.</h3>

            <table data-ng-show="!grades || grades.length"class="table table-striped table-bordered table-hover editable-table">

                <tbody>
                	<th>Assignment Name</th>
                	<th>Created On</th>
	                <th>Score</th>

	                <tr data-ng-repeat="grade in grades">
	                	<td>{{grade.curriculumName}}</td>
	                	<td>
                            {{grade.created | date:'short'}}
                        </td>
	                	<td>{{grade.score}}</td>
	                </tr>
	            </tbody>

            </table>

    </section>
