<div data-ng-controller="ContactUsCtrl" class="form contact_us_form main-form">
  <h1>Contact Us</h1>
  <form ng-submit="contactus()" class="contact-us form-horizontal">

    <div class="alert alert-{{response.status}} animated fadeIn" ng-show="response.message">{{response.message}}</div>

    <div class="form-group">
      <div class="col-md-8">
      <input required id="email_block" type="email" name="email" placeholder="Email Address"
               ng-model="user.email" class="form-control">
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-8">
          <button type="submit" class="btn btn-primary">Send</button>
      </div>
    </div>
  </form>
</div>
