<div data-ng-controller="ForgotPasswordCtrl" class="form forgot_password_form main-form">
  <h1>Forgot Password</h1>
  <p>Please enter your email address to reset your password.</p>
  <form ng-submit="forgotpassword()" class="forgot-password form-horizontal">

    <div class="alert alert-{{response.status}} animated fadeIn" ng-show="response.message">{{response.message}}</div>

    <div class="form-group">
      <div class="col-md-8">
      <input required id="email_block" type="email" name="email" placeholder="Email Address"
               ng-model="user.email" class="form-control">
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-8">
          <button type="submit" class="btn btn-primary">Send</button>
      </div>
    </div>
  </form>
</div>
