<div class="form main-form" ng-controller="AuthCtrl" ng-class="{'register-form' : global.registerForm}">
    <div class="login-form__left" ui-view></div>
    <div class="row login-form__right " data-ng-controller="AuthCtrl">
        <div class="social_wrap" ng-class="{bigger:socialButtonsCounter > 4 && !global.registerForm}">
            <ul class="social">
                <li ng-if="socialButtons.hasOwnProperty('linkedin')" class="social_icon social_icon_in">
                    <a href="/auth/linkedin" class="button">
                        <span>Log In With LinkedIn</span>
                    </a>
                </li>
                <li ng-if="socialButtons.hasOwnProperty('facebook')" class="social_icon social_icon_fb">
                    <a href="/auth/facebook" class="button">
                        <span>Log In With Facebook</span>
                    </a>
                </li>
                <li ng-if="socialButtons.hasOwnProperty('github')" class="social_icon social_icon_gh">
                    <a href="/auth/github" class="button">
                        <span>Log In With GitHub</span>
                    </a>
                </li>
                <li ng-if="socialButtons.hasOwnProperty('twitter')" class="social_icon social_icon_tw">
                    <a href="/auth/twitter" class="button">
                        <span>Log In With Tweeter</span>
                    </a>
                </li>
                <li ng-if="socialButtons.hasOwnProperty('google')" class="social_icon social_icon_google">
                    <a href="/auth/google" class="button">
                        <span>Log In With Google</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>

</div>
