<div data-ng-controller="LoginCtrl">


    <h1>Login</h1>

    <form ng-submit="login()" class="signin form-horizontal">

      <div class="alert alert-danger animated fadeIn" ng-show="loginerror">{{loginerror}}</div>

        <div class="form-group">
            <label for="email" class="col-md-4 control-label">Email</label>
            <div class="col-md-8">
                <input required id="email" type="email" name="email" placeholder="Email" class="form-control" ng-model="user.email"/>
            </div>
        </div>
        <div class="form-group">
            <label for="password" class="col-md-4 control-label">Password</label>
            <div class="col-md-8">
                <input required id="password" type="password" name="password" placeholder="Password" class="form-control" ng-model="user.password"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-4 col-md-8">
                <button type="submit" class="btn btn-primary">Sign in</button>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-4 col-md-8">
                <a ui-sref='forgot-password'>Forgot your password?</a>

            </div>
        </div>
    </form>
</div>
