<h1>Comic Builder Text Editor</h1>

<section data-ng-controller="ComicBuilderController">

<div class="alert alert-danger animated flash" ng-show="cberror">{{cberror}}</div>

	<div class="panel panel-primary">
		<div class="panel-heading">Comic Name</div>
		<div class="panel-body">

				<form name="cbForm" role="form" data-ng-submit="create(cbForm.$valid)" novalidate>
						<div class="form-group">
										<div class="form-group" ng-class="{ 'has-error' : submitted && cbForm.paragraph.$invalid }">
											<input name="title" type="text" class="form-control" data-ng-model="title" id="title" placeholder="Name of this comic" required>

						</div>
							<button type="submit" class="btn btn-sm btn-primary">Next</button>
				</form>

	</div>


</section>
