<h1>All Comic Builder Entries</h1>

    <section data-ng-controller="ComicBuilderController" data-ng-init="find()">

      <p class="alert alert-info">
        Comic Builder lets students drag and drop characters into a comic strip using the phrases that you create in this section. They can share their creations with you and each other.
      </p>

        <h3 data-ng-hide="!comicbuilder || comicbuilder.length">No comic builder entries yet.</h3>


        <p class="pull-left"><a class="btn btn-sm" href="/#!/comicBuilder/create"><i class="glyphicon glyphicon-plus"></i> Create new comic</a></p>

            <table class="table table-striped table-bordered table-hover editable-table"  data-ng-if="comicbuilder.length > 0">

                <th>Comic Name</th>
                <th>Created By</th>
                <th>Manage</th>
                <th>Assign</th>



                <tbody data-ng-repeat="comicbuilder in comicbuilder">

                    <tr data-ng-if="hasAuthorization(comicbuilder)">
                        <td>
                            <a data-ng-href="#!/comicBuilder/{{comicbuilder._id}}">{{comicbuilder.title}}</a>
                        </td>
                        <td>
                            {{comicbuilder.created | date:'short'}} by {{comicbuilder.user.name}}
                        </td>

                            <td>
                                <a class="btn btn-sm" href="/#!/comicBuilder/{{comicbuilder._id}}">
                                    <i class="glyphicon glyphicon-edit"></i>Edit
                                </a>
                                <a class="btn btn-sm" data-ng-click="remove(comicbuilder);">
                                    <i class="glyphicon glyphicon-trash"></i>Delete
                                </a>
                            </td>

                            <td>
                                <a class="btn btn-success btn-sm" href="/#!/comicBuilder/assign/{{comicbuilder._id}}">
                                    <i class="glyphicon glyphicon-ok"></i>Assign
                                </a>
                            </td>

                    </tr>

                </tbody>
            </table>

    </section>
