
    <section data-ng-controller="ComicBuilderController" data-ng-init="findOne()" >

        <h1>{{comicbuilder.title}}</h1>

    <div class="panel panel-primary">
      <div class="panel-heading">Add Phrases for this Comic</div>
      <div class="panel-body">

        <form id="comic-add-form" role="form" name="cbPhraseForm" data-ng-submit="add()">
          <div class="form-group">
            <input class="form-control"  data-ng-model="newPhrase" placeholder="Phrase">
          </div>
          <input type="submit" class="btn btn-sm" value="Add"/>
        </form>

      </div>
    </div>


    <h3 data-ng-hide="!comicbuilder.comicbuilderelements || comicbuilder.comicbuilderelements.length">No phrases entered yet.</h3>


    <div class="panel panel-primary" data-ng-show="!comicbuilder.comicbuilderelements || comicbuilder.comicbuilderelements.length">
      <div class="panel-heading">All Phrases</div>
      <div class="panel-body">

        <table class="table table-striped table-bordered table-hover editable-table" data-ng-if="comicbuilder.comicbuilderelements.length > 0">

             <tbody>
                <th>Phrase</th>
                <th>Source Voice</th>
                <th>Manage</th>
                <tr data-ng-repeat="comicbuilderElement in comicbuilder.comicbuilderelements">
                    <td>
                        <input type="text" class="form-control" data-ng-model="comicbuilderElement.phrase" placeholder="Phrase"  />
                    </td>
                    <td>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="voice" value="voice" data-ng-model="comicbuilderElement.voice"><i class="glyphicon glyphicon-headphones"></i>Includes Voice Recording
                            </label>
                        </div>
                    </td>
                   <td>
                        <button class="btn btn-sm" data-ng-click="removeComicBuilderElement(comicbuilderElement)" value="del"><i class="glyphicon glyphicon-trash"></i>Delete</button>
                    </td>
                </tr>
            </tbody>

          </table>

      </div>
    </div>

<button class="btn btn-success btn-sm" data-ng-click="complete()">Complete</button>

</section>
