<h1>Quiz Builder</h1>

<section data-ng-controller="QuizzesController">

<div class="alert alert-danger animated flash" ng-show="qerror">{{qerror}}</div>

	<div class="panel panel-primary">
		<div class="panel-heading">Name of the Quiz</div>
		<div class="panel-body">

						<div class="form-group">
								<form name="quizForm" role="form" data-ng-submit="create(quizForm.$valid)" novalidate>
										<div class="form-group" ng-class="{ 'has-error' : submitted && quizForm.title.$invalid && quizForm.question.$invalid && quizForm.answer.$invalid }">
												<input name="title" type="text" class="form-control" data-ng-model="title" id="title" placeholder="Name" required>
										</div>
							<button type="submit" class="btn btn-sm btn-primary">Next</button>
				</form>
						</div>
	</div>


</section>
