
<h1>All Quizzes</h1>

<section data-ng-controller="QuizzesController" data-ng-init="find()">

  <p class="alert alert-info">
    In this area, create multiple-choice quizzes in the length of your choice, with or without verbal prompts. Students complete the exam online.
  </p>

        <h3 data-ng-hide="!quizzes || quizzes.length">No quizzes yet.</h3>

            <p class="pull-left">
              <a class="btn btn-sm" href="/#!/quizzes/create">
                <i class="glyphicon glyphicon-plus"></i> Create new quiz
              </a>
            </p>

      <table class="table table-striped table-bordered table-hover editable-table" data-ng-show="!quizzes || quizzes.length">

                            <th>Quiz Title</th>
                            <th>Created By</th>
                            <th>Manage</th>
                            <th>Assign</th>

                            <tbody data-ng-repeat="quiz in quizzes">
                                  <tr data-ng-if="hasAuthorization(quiz)">

                                    <td><a data-ng-href="#!/quizzes/{{quiz._id}}">{{quiz.title}}</a>
                                    </td>
                                    <td>{{quiz.created | date:'short'}} by {{quiz.user.name}}</td>
                                    <td>
                                      <a class="btn btn-sm" href="/#!/quizzes/{{quiz._id}}">
                                            <i class="glyphicon glyphicon-edit"></i>Edit
                                      </a>
                                      <a class="btn btn-sm" data-ng-click="remove(quiz);">
                                            <i class="glyphicon glyphicon-trash"></i>Delete
                                      </a>
                                    </td>
                                    <td>
                                      <a class="btn btn-success btn-sm" href="/#!/quizzes/assign/{{quiz._id}}">
                                            <i class="glyphicon glyphicon-ok"></i>Assign
                                      </a>
                                    </td>
                                </tr>
                          </tbody>
        </table>
</section>
