<section data-ng-controller="QuizzesController" data-ng-init="findOne()" class="row">
    <h1>{{quiz.title}}</h1>

    <div class="panel panel-primary">
      <div class="panel-heading">Title</div>
      <div class="panel-body">

          <form id="quiz-title-edit" role="form" name="quizTitleForm" data-ng-submit="edit(quiz)">
              <div class="form-group">
                  <input class="form-control" data-ng-model="quiz.title" placeholder="Title"/>
              </div>
              <input type="submit" class="btn btn-sm" value="Edit Title"/>
          </form>

      </div>
    </div>

    <div class="panel panel-primary">
      <div class="panel-heading">Add Question and Answer sets</div>
      <div class="panel-body">

          <h3 data-ng-hide="!quiz.quizelements || quiz.quizelements.length">No questions and answers yet.</h3>


            <form style="padding-bottom:10px;" id="quiz-add-form" class="form-inline" role="form" name="quizElementForm" data-ng-submit="add()">
              <div class="form-group">
                <input class="form-control"  data-ng-model="newQuestion" placeholder="Question">
              </div>
              <div class="form-group">
                <input class="form-control" data-ng-model="newAnswer" placeholder="Answer">
              </div>
              <input type="submit" class="btn btn-sm" value="Add"/>
            </form>



            <table class="table table-striped table-bordered table-hover editable-table" data-ng-if="quiz.quizelements.length > 0">

                 <tbody>
                        <th>Question</th>
                        <th>Answer</th>
                        <th>Manage</th>


                    <tr data-ng-repeat="quizElement in quiz.quizelements">
                        <td>
                            <input type="text" class="form-control" data-ng-model="quizElement.question" placeholder="Question"  />
                        </td>
                        <td>
                            <input type="text" class="form-control" data-ng-model="quizElement.answer" placeholder="Answer" />
                        </td>
                        <td>
                            <button class="btn btn-sm" data-ng-click="removeQuizElement(quizElement)" value="del"><i class="glyphicon glyphicon-trash"></i>Delete</button>
                        </td>
                    </tr>
                </tbody>

            </table>

      </div>
    </div>






              <button class="btn btn-success btn-sm" data-ng-click="returnToPackageHome()">Complete</button>

</section>
