<h1 >All Classes</h1>

    <section data-ng-controller="ClassManagementController" data-ng-init="find()" class="container">

        <div class="col-md-12">
        
        <h3 data-ng-hide="!edclass || edclass.length">No classes yet.</h3>


        <p class="pull-left"><a class="btn btn-sm" href="/#!/classManagement/create"><i class="glyphicon glyphicon-plus"></i> Create new class</a></p>

            <table class="table table-striped table-bordered table-hover editable-table">

                <th>Class Name</th>
                <th>Created By</th>
                <th>Manage</th>
                
                <tbody data-ng-repeat="edclass in edclasses">
                    
                    <tr>
                        <td>
                            {{edclass.classname}}
                        </td>
                       
                        <td>
                            {{edclass.created | date:'short'}} by {{edclass.user.name}}
                        </td>

                       
                           <span>
                                        
                                <td>
                                    <!--<a class="btn btn-sm" href="/#!/classManagement/{{edclass._id}}">
                                        <i class="glyphicon glyphicon-edit"></i>Edit
                                    </a>-->
                                    <a class="btn btn-sm" data-ng-click="remove(edclass);">
                                         <i class="glyphicon glyphicon-trash"></i>Delete
                                    </a>
                                </td>
                            </span>   
                       
                        
                    </tr>
                                
                </tbody>
            </table>
        </div>
                        
    </section>

    <!--<div class="container" ng-controller="ClassManagementController" data-ng-init="getClasses()">
        
        <div class="col-md-12"><h3>Student/Class Relationship</h3></div>
        
        <div class="row">
          
          <div class="col-xs-3">
            
            <div class="form-group">
              <label>Classes</label>
              <select class="form-control" ng-model="selectedClass" ng-options="edclass.classname for edclass in edclasses"></select>
            </div>
          
          </div>
          
          <div class="col-xs-9">

            <table class="table-condensed table-hover table-striped" data-ng-init="findStudents()">
              <thead>
                <tr>
                  <th>Enrolled</th>
                  <th>Name</th>
                  <th>Email</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="student in users">
                  <td><input type="checkbox" ng-click="addRemoveStudent(student,student._id)" ng-checked="selectedClass.students.indexOf(student._id) !== -1 && selectedClass"></td>
                  <td>{{student.name}}</td>
                  <td>{{student.email}}</td>
                </tr>
              </tbody>
            </table>
          
          </div>
        
        </div>-->

 
