<div data-ng-controller="TeachersController">


			<h1>Teachers section</h1>

			<div class="row" style="margin-bottom:10px">

			<!--<article class="col-sm-4">


				<div class="mediaHover">
					<div class="mask" style="height: 100%; width:100%; margin-top: 0px; display: block;"></div>
					<div class="iconLinks" style="margin-top: 30px; display: block;">

				<a href="/#!/quizzes" class="image-link animated bounceInDown" title="Zoom">
					<i class="icon-pen iconRounded iconBig"></i>
				</a>

				<h3>Quizzes</h3>
				</div>
				</div>


			</article>-->

			<article class="col-sm-4">


				<div class="mediaHover">
					<div class="mask" style="height: 100%; width:100%; margin-top: 0px; display: block;"></div>
					<div class="iconLinks" style="margin-top: 30px; display: block;">

				<a href="/#!/listeningComp" class="image-link animated bounceInDown" title="Zoom">
					<i class="icon-headphones iconRounded iconBig"></i>
				</a>

				<h3>Listening Comp</h3>
				</div>
				</div>


			</article>

			<!--<article class="col-sm-4">


				<div class="mediaHover">
					<div class="mask" style="height: 100%; width:100%; margin-top: 0px; display: block;"></div>
					<div class="iconLinks" style="margin-top: 30px; display: block;">

				<a href="/#!/onlineOrals" class="image-link animated bounceInDown" title="Zoom">
					<i class="icon-mic iconRounded iconBig"></i>
				</a>

				<h3>Online Oral Exams</h3>
				</div>
				</div>


			</article>

		</div>
		<div class="row">


			<article class="col-sm-4">


				<div class="mediaHover">
					<div class="mask" style="height: 100%; width:100%; margin-top: 0px; display: block;"></div>
					<div class="iconLinks" style="margin-top: 30px; display: block;">

				<a href="/#!/comicBuilder" class="image-link animated bounceInDown" title="Zoom">
					<i class="icon-chat-alt iconRounded iconBig"></i>
				</a>

				<h3>Comic Builder</h3>
				</div>
				</div>


			</article>

			<article class="col-sm-4">


				<div class="mediaHover">
					<div class="mask" style="height: 100%; width:100%; margin-top: 0px; display: block;"></div>
					<div class="iconLinks" style="margin-top: 30px; display: block;">

				<a href="/#!/earTraining" class="image-link animated bounceInDown" title="Zoom">
					<i class="icon-comment iconRounded iconBig"></i>
				</a>

				<h3>Ear Training</h3>
				</div>
				</div>


			</article>

			<article class="col-sm-4">


				<div class="mediaHover">
					<div class="mask" style="height: 100%; width:100%; margin-top: 0px; display: block;"></div>
					<div class="iconLinks" style="margin-top: 30px; display: block;">

				<a href="" class="image-link animated bounceInDown" title="Zoom">
					<i class="icon-code iconRounded iconBig"></i>
				</a>

				<h3>More coming soon!</h3>
				</div>
				</div>


			</article>-->

	</div>

</div>
