
<div data-ng-controller="TeachersController" data-ng-init="findOne(global.user._id)" >

	<h1>My Home</h1>

	<p class="alert alert-info">
		Here we will show announcements, any new students to be triaged, and any assignments to be graded.
	</p>

</div>
