


<section data-ng-controller="ClassManagementController">
 
    <h1>Invite students to join classes</h1>

    <form name="studentRosterForm" class="form-horizontal" role="form" data-ng-controller="EnrollmentController" data-ng-submit="create(studentRosterForm.$valid)" novalidate>

      <div class="alert alert-danger animated fade in" ng-show="inviteerror">{{inviteerror}}</div>
    
        <div class="alert alert-success animated fade in" ng-show="invitesuccess">{{invitesuccess}}</div>

                 
            <div class="form-group" ng-class="{ 'has-error' : submitted && studentRosterForm.class.$invalid }">


              <table class="table table-striped table-bordered table-hover editable-table">

              <tbody>
                  <th>Student Email</th>
                  <th>Class Affiliation</th>
                  <th></th>
                            
                    <tr>

                      <td>
                        <input type="text" name="email" class="form-control" data-ng-model="email" id="email" required></input>
                      
                        <div ng-show="submitted && studentRosterForm.email.$invalid" class="help-block">
                            <p>Student name is required</p>
                        </div>
                    
                      </td>

                      <td>
            
                          <div class="container" data-ng-init="getClasses()">
                            <select class="form-control" ng-model="selectedClass" ng-options="edclass.classname for edclass in edclasses"></select>
                          </div>


                       </td>
                       
                       <td>
                              <button type="submit" class="btn btn-sm">Invite</button>

                       </td>
                    
                    </tr>
                
                </tbody>

              </table>
                    
          
            </div>
                                    
    </form>
                
</section>

