<h1>Student Scores</h1>

 <section data-ng-controller="StudentsController" data-ng-init="findOne()">

       <h3 data-ng-hide="!students || students.length">No assignments have been completed yet by this student.</h3>

            <table data-ng-show="!students || students.length"class="table table-striped table-bordered table-hover editable-table">

                <th>Name</th>
                <th>Answers</th>
                
                <tbody data-ng-repeat="student in students">
                    
                    <tr>
                        <td>
                            {{student.user.name}}
                        </td>

                        <td>
                        	<table class="table table-striped table-bordered table-hover editable-table">
                        		<tbody data-ng-repeat="response in student.responses">
                        			<tr>
                        				<td>{{response.question}}</td>
                        				<td>{{response.answer}}</td>
                        			</tr>
                        		</tbody>
                        	</table>
                        </td>
                        
                                                                   
                    </tr>

                    <tr>

                    	<td colspan="2">

                    		
                    		<form name="sForm" class="form-horizontal col-md-6" role="form" data-ng-submit="update(sForm.$valid,student)" novalidate>

								<div class="form-group" ng-class="{ 'has-error' : submitted && sForm.score.$invalid }">
				                
								    <label>Grade:</label>
								                            
								        <input type="text" class="form-control" data-ng-model="student.score" id="score" placeholder="Score" required></input>
								                        
								            <div ng-show="submitted && sForm.score.$invalid" class="help-block">
								                        
								                <p ng-show="sForm.score.$error.required">Grade is required</p>
								                    
								            </div>

								        <button type="submit" class="btn btn-sm">Submit</button>
				                  
								</div>
								          
							</form>

						</td>

					</tr>
                          
                </tbody>
            </table>
              
               

    
    </section> 