<h1>Student Scores</h1>

 <section data-ng-controller="ClassManagementController" data-ng-init="findStudents()">

    coming soon

        <!--<h3 data-ng-hide="!users || users.length">No Users yet.</h3>


       

            <table class="table table-striped table-bordered table-hover editable-table">

                <th>Name</th>
                <th>Username</th>
                <th>Email</th>
                
                <tbody data-ng-repeat="users in users">
                    
                    <tr>
                        <td>
                            <a data-ng-href="#!/students/{{users._id}}">{{users.name}}</a>
                        </td>
                        <td>
                            {{users.username}}
                        </td>
                        <td>
                            <a href="mailto:{{users.email}}">{{users.email}}</a>
                        </td>
                                                                   
                    </tr>
                                
                </tbody>
            </table>-->
                        
    
    </section>

    


