
<section data-ng-controller="EnrollmentController" data-ng-init="find()">

<h1>Invited Students</h1>
    
   <h3 data-ng-hide="!enrollment || enrollment.length">No students invited yet.</h3>

        

            <table data-ng-show="!enrollment || enrollment.length" class="table table-striped table-bordered table-hover editable-table">

                <th>Student Email</th>
                <th>Class Affiliation</th>
                <th>Date Invited</th>

                <tbody >

                    <tr ng-repeat="enrollment in enrollment">
                        <td>
                            {{enrollment.email}}
                        </td>
                        <td>
                            {{enrollment.classname}}
                        </td>
                        <td>
                            {{enrollment.created | date:'short'}} by {{enrollment.user.name}}
                        </td>

                       

                    </tr>

                </tbody>
            </table>

</section>

