<script type="text/javascript" src="/system/assets/js/mp3recorder.js"></script>


<section data-ng-controller="ListeningCompController" data-ng-init="findOne()" >

        <h1>{{listeningcomp.title}}</h1>

        <form name="lsForm" class="form-horizontal" role="form" data-ng-submit="update(lsForm.$valid)" novalidate>

          <div class="panel panel-primary">
            <div class="panel-heading">Title</div>
            <div class="panel-body">
              <input class="form-control" data-ng-model="listeningcomp.title" placeholder="Title"/>
            </div>
          </div>

        <div class="alert alert-danger animated flash" ng-show="perror">{{perror}}</div>

          <div class="panel panel-primary">
            <div class="panel-heading">Paragraph text</div>
            <div class="panel-body">
              <input type="checkbox" id="show_text" name="show_text" data-ng-model="listeningcomp.show_text"> <i class="glyphicon glyphicon-eye-open"></i> Make this paragraph visible to your students (for reading comprehension)

              <span ng-class="{ 'has-error' : submitted && lsForm.paragraph.$invalid }">
                  <textarea name="content" data-ng-model="listeningcomp.paragraph" id="content" cols="50" rows="5" placeholder="Paragraph" class="form-control" required></textarea>
                  <div ng-show="submitted && lsForm.paragraph.$invalid" class="help-block">
                      <p ng-show="lsForm.paragraph.$error.required">Paragraph is required</p>
                  </div>
              </span>
            </div>
          </div>
        </form>

        <div class="panel panel-primary">
          <div class="panel-heading">Recording</div>
          <div class="panel-body">
            <div class="recorder" data-ng-controller="TeachersController" audio-recorder="listeningComp" data-ng-model="listeningcomp.recordingUrl" data-message="recordingMessage" data-recording="recording" data-update="update">
              <button type="button" tooltip="Start Recording" class="start btn btn-danger btn-sm" ng-disabled="recording"><span class="glyphicon glyphicon-record"></span></button>
              <button type="button" tooltip="Stop Recording" class="stop btn btn-primary btn-sm" ng-disabled="!recording"><span class="glyphicon glyphicon-stop"></span></button>
              <span class="recording-message" ng-show="recordingMessage">{{recordingMessage}}</span>
              <div class="audio-player">
              <audio id="audio-tag" data-ng-src="{{listeningcomp.recordingUrl || ''}}" controls data-ng-show="listeningcomp.recordingUrl"></audio>
                <!--<audio id="audio-tag" ng-src="{{getRecording(listeningcomp._id)}}" controls ng-show="{{getRecording(listeningcomp._id)}}" preload="none"></audio>-->
              </div>
            </div>
          </div>
        </div>
      </form>



        <div class="panel panel-primary">
          <div class="panel-heading">Add questions about this paragraph</div>
          <div class="panel-body">
            <form id="quiz-add-form" style="padding-bottom:10px;" class="form-inline" role="form" name="lcQuestionForm" data-ng-submit="add()">
              <div class="form-group">
                <input class="form-control"  data-ng-model="newQuestion" placeholder="Question">
              </div>
               <button class="btn btn-primary btn-sm" type="submit" value="Submit">Add</button>
            </form>


            <h3 data-ng-hide="!listeningcomp.listeningcompelements || listeningcomp.listeningcompelements.length">No questions yet.</h3>


            <table class="table table-striped table-bordered table-hover editable-table" data-ng-if="listeningcomp.listeningcompelements.length > 0">

              <tbody>
                  <th>Question</th>
                  <th>Manage</th>


                  <tr data-ng-repeat="listeningcompElement in listeningcomp.listeningcompelements">
                      <td>
                          <input type="text" class="form-control" data-ng-model="listeningcompElement.question" placeholder="Question"/>
                      </td>
                      <td>
                          <button class="btn btn-danger btn-sm" data-ng-click="removeListeningCompElement(listeningcompElement)" value="del"><i class="glyphicon glyphicon-trash"></i>Delete</button>
                      </td>
                  </tr>
              </tbody>

            </table>
          </div>
        </div>





        <div style="padding:10px">

            <button class="btn btn-success btn-sm" data-ng-click="update(lsForm.$valid,true)">Complete</button>

        </div>

</section>
