<h1>Comprehension Paragraph Builder</h1>

<section data-ng-controller="ListeningCompController">

  <div class="panel panel-primary">
    <div class="panel-heading">Listening Comprehension Exercise Name</div>
    <div class="panel-body">

        <form name="lsForm" role="form" data-ng-submit="create(lsForm.$valid)" novalidate>
            <div class="form-group">
                    <div class="form-group" ng-class="{ 'has-error' : submitted && lsForm.paragraph.$invalid }">
                      <input name="title" type="text" class="form-control" data-ng-model="title" id="title" placeholder="Name of this exercise" required>

            </div>
              <button type="submit" class="btn btn-sm btn-primary">Next</button>
        </form>

  </div>


</section>
