<h1>All Listening Comprehension Paragraphs</h1>

    <section data-ng-controller="ListeningCompController" data-ng-init="find()">

      <p class="alert alert-info">
        Create a listening comprehension text and questions about it for your students. Record the text and upload it in this module; students can be given either the written text or the recording or both.
      </p>

        <h3 data-ng-hide="!listeningcomp || listeningcomp.length">No listening comprehension paragraphs yet.</h3>


        <p class="pull-left"><a class="btn btn-sm" href="/#!/listeningComp/create"><i class="glyphicon glyphicon-plus"></i> Create new paragraph</a></p>

            <table class="table table-striped table-bordered table-hover editable-table">

                <th>Listening Comp Paragraph</th>
                <th>Audio</th>
                <th>Created By</th>
                <th>Manage</th>
                <th>Assign</th>

                <tbody data-ng-repeat="listeningcomp in listeningcomp">

                    <tr data-ng-if="hasAuthorization(listeningcomp)">
                        <td>
                              <a data-ng-href="#!/listeningComp/teachers/{{listeningcomp._id}}">{{listeningcomp.title}}</a>
                        </td>
                        <td>
                            <!--<audio ng-show="{{listeningcomp.voice_voicebunny}}" controls>
                              <source ng-src="{{trustSrc(listeningcomp.voicebunny_recordingUrl)}}" type="audio/mpeg">
                            Your browser does not support the audio element.
                            </audio>

                            <audio ng-show="{{listeningcomp.voice_self}}" controls>
                              <source ng-src="{{getPath(listeningcomp._id)}}" type="audio/wav">


                            Your browser does not support the audio element.
                            </audio>
                        -->
                              <div class="recorder" data-ng-controller="TeachersController" audio-recorder>
                                <div class="audio-player">
                                  <audio id="audio-tag" data-ng-src="{{listeningcomp.recordingUrl || ''}}" controls data-ng-show="listeningcomp.recordingUrl">
                                    Your browser does not support the audio element; please use Chrome.
                                  </audio>
                                </div>
                              </div>

                        </td>
                        <td>
                              {{listeningcomp.created | date:'short'}} by {{listeningcomp.user.name}}
                        </td>

                        <td>
                                <a class="btn btn-sm" href="/#!/listeningComp/teachers/{{listeningcomp._id}}">
                                    <i class="glyphicon glyphicon-edit"></i>Edit
                                </a>
                                <a class="btn btn-danger btn-sm" data-ng-click="remove(listeningcomp);">
                                    <i class="glyphicon glyphicon-trash"></i>Delete
                                </a>
                        </td>

                        <td>
                                <a class="btn btn-success btn-sm" href="/#!/listeningComp/assign/{{listeningcomp._id}}">
                                    <i class="glyphicon glyphicon-ok"></i>Assign
                                </a>
                        </td>

                    </tr>

                </tbody>
            </table>

    </section>
