/*
    Document   : colors
    Author     : Little Neko
    Description: template colors
*/


/* Table of Content
==================================================

#BOOSTRAP CUSTOMIZATION
#TYPOGRAPHY
#LINKS AND BUTTONS
#HEADER
#MAIN MENU
#FOOTER
#SLIDERS
#PORTFOLIO
#MISCELANIOUS
#NEKO CSS FRAMEWORK

*/

/* BOOSTRAP CUSTOMIZATION
================================================== */

/** tabs **/
.panel-default > .panel-heading
{
    background: #3e7ede;
}
.panel-default > .panel-heading:hover
{
    background: #fff;
}
.panel-default > .panel-heading:hover a
{
    color: #3e7ede;
}
.panel-title > a
{
    color: #fff;
}
.panel-title > a:hover
{
    text-decoration: none;
}

/* END BOOSTRAP CUSTOMIZATION
================================================== */

/* TYPOGRAPHY
================================================== */

body
{
    color: #777;
    background: #fff;
}

blockquote small
{
    color: inherit;
}
h1,
h2,
h3,
h4,
h5,
h6
{
    color: #222;
}
h2
{
    color: #888;
}
h2 i
{
    color: #999;
}
h2.subTitle:after,
h1.noSubtitle:after
{
    background-color: #3e7ede;
}
.bg-info
{
    font-size: .9em;

    margin: 10px;
    padding: 10px;

    background: #d9edf7;
}
/*** parallax sections ***/

.paralaxText blockquote:before,
.paralaxText blockquote:after
{
    color: #fff;
}
#home,
#paralaxSlice1,
#paralaxSlice2,
#paralaxSlice3
{
    /*background-color:#3e7ede;*/
    background-color: #f2f2f2;
}
#paralaxSlice4
{
    background-color: #9321d1;
}
#home
{
    /*background-image:url('../images/theme-pics/paralax-blue-3.jpg');*/
}
/*#paralaxSlice1 {
	background-image: url('../images/theme-pics/paralax-1.jpg');
}
#paralaxSlice2 {
	background-image: url('../images/theme-pics/paralax-blue-2.jpg');
}
#paralaxSlice3 {
	background-image: url('../images/theme-pics/paralax-blue-3.jpg');
}
#paralaxSlice4 {
	background-image: url('../images/theme-pics/paralax-4.jpg');
}*/
.paralaxText blockquote,
.paralaxText h1,
.paralaxText h2,
.paralaxText h3,
.paralaxText p,
.paralaxText i
{
    color: #fff;
}



/* END TYPOGRAPHY
================================================== */

/* LINKS AND BUTTONS
================================================== */

a
{
    color: #3e7ede;
}
a:hover,
.scrollspyNav .active a
{
    color: #3e7ede;
}
ul.iconsList li a
{
    color: #555;
}
ul.iconsList li a:hover,
ul.iconsList i
{
    color: #3e7ede;
}

/*** buttons ***/
.btn
{
    color: #fff;
    border: 2px solid #fff;
    background: #3e7ede;
}
.btn:hover
{
    color: #3e7ede;
    border-color: #eee;
    background: #fff;
    text-shadow: none;
}
.btn-primary
{
    background: #006dcc;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled]
{
    background: #555;
}
.btn-info
{
    background: #49afcd;
}
.btn-success
{
    background: #5bb75b;
}
.btn-warning
{
    background: #faa732;
}
.btn-danger
{
    background: #da4f49;
}
.btn-link,
.btn-link:active,
.btn-link[disabled],
.btn-link:hover
{
    color: #49afcd;
    border: none;
    background: none;
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none;
}
.btnWrapper
{
    border: 1px solid #ccc;
}

/* END LINKS AND BUTTONS
================================================== */

/* validation */

.help-block {
    color:red;
}

/* MAIN MENU
================================================== */

#mainHeader
{
    background-color: white;
    -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, .1);
       -moz-box-shadow: 0 1px 10px rgba(0,0,0,.1);
            box-shadow: 0 1px 10px rgba(0, 0, 0, .1);
}

#mainHeader .navbar-inner
{
    background: #444;

    filter: none !important;
}
#mainMenu ul li a,
#resMainMenu ul li a
{
    color: #444;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus
{
    color: #fff;
    background: #3e7ede;
}
/*.nav-pills li a{
	color:#FFF;
}
.nav-pills li a:hover{
	background-color:#3e7ede;
}*/
.secondary-nav
{
    padding: 10px 0;
}
.color-bar
{
    padding: 10px;

    background: #5bb75b;
}
.color-bar li
{
    display: inline;

    padding-left: 10px;

    list-style: none;
}
.color-bar li a
{
    color: #fff;
}

article h3
{
    color: #fff;
}

/* END MAIN MENU
================================================== */

/* FOOTER
================================================== */

footer
{
    color: #777;
    border-top: 1px solid #555;
    background: #eee;
}

#footerRights
{
    color: #999;
    background-color: #fff;
}
p.credits
{
    color: #555;
}
p.credits a
{
    color: #3e7ede;
}

/* END FOOTER
================================================== */

/* HOME
================================================== */

#home h1
{
    color: #ccc;
}

/* END HOME
================================================== */

/* SLIDERS
================================================== */

/*** FLEX ***/

.flexslider
{
    box-shadow: none;
}

.flexslider .flex-direction-nav a
{
    background-color: #3e7ede;
}

.flexslider .flex-control-paging li a:hover,
#sliderWrapper .flex-control-paging li a.flex-active
{
    border: 2px solid #fff;
    background: #fff;
}
.flexslider .flex-control-paging li a
{
    border: 2px solid rgba(255,255,255,.5);
    background: transparent;
}
.flexslider .flex-control-nav
{
    background: transparent;
}
.flexslider h1
{
    color: #ccc;
    background-color: #3e7ede;
}
.flexslider h2
{
    color: #ccc;
    background-color: #333;
}
.flexslider .caption p
{
    color: #555;
    background-color: #fff;
}

/*** flexHome ***/
#flexHome  h1
{
    color: #ccc;
    background: none;
}
#flexHome  h2
{
    color: #ccc;
    background: none;
}

/*** END FLEX SLIDER ***/

/* END SLIDERS
================================================== */

/* PORTFOLIO
================================================== */

nav#filter a
{
    color: #555;
    background-color: #eee;
}
nav#filter a:hover,
nav#filter a.current
{
    color: #fff;
    background-color: #3e7ede;
}
li.filterTitle
{
    color: #4f6266;
}
section#projectDescription
{
    background-color: #f8f8f8;
}
.mask
{
    background-color: rgba(134, 79, 194, 1);
}
/* END PORTFOLIO
================================================== */

/* MISCELANIOUS
================================================== */
/*** hover images ***/
.iconLinks a span
{
    color: #fff;
}

/*** pricing table ***/
.pricingBloc
{
    border: 1px solid rgba(0, 0, 0, .2);
    background-color: #fff;
}
.pricingBloc ul li
{
    color: #444!important;
    border-bottom: 1px solid #ddd;
}
.pricingBloc ul li:last-child
{
    border-bottom: none;
}
.pricingBloc h2
{
    color: #888!important;
    border: none;
    background-color: #555;
}
.pricingBloc h3
{
    color: #fff!important;
    background-color: #777;
}
.pricingBloc p
{
    color: #444!important;
    background-color: #eee;
}
.pricingBloc.focusPlan
{
    margin-top: 0;
    border-color: #d1d1d1;
}
.pricingBloc.focusPlan h2
{
    color: #fff!important;
    background-color: #333;
}
.pricingBloc.focusPlan h3
{
    padding: 1.25em;
    color: #fff!important;
    background-color: #3e7ede;
}

/*** Form ***/
.form-control:focus
{
    border: none;
    background-color: #ddd;
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none;
}
.form-control
{
    color: #444;
    border: none;
    background-color: #ededed;
}
.error
{
    color: #b94a48;
    border-color: #eed3d7;
    background-color: #f2dede;
}

label.error
{
    color: #fff;
    border: none;
    background-color: #b94a48;
}

#projectQuote,
#projectQuote h3
{color: #444;
    background: #ddd;
}

/* END MISCELANIOUS
================================================== */

/* NEKO CSS FRAMEWORK
================================================== */

/*** Feature box **/

.boxFeature i
{
    color: #3e7ede;
}

/*** slices ***/
.slice
{
    background-color: #f7f7f7;
}

/*** call to action ***/
.ctaBox
{
    border: 2px solid rgba(0,0,0,.05);background-color: #3e7ede;
}
.ctaBoxFullwidth
{
    border: none;
}

.ctaBox blockquote
{
    color: #ccc;
}

/*color1*/
.color1,
.slice.color1,
.bulle.color1,
.ctaBox.color1
{
    color: #444;
    background-color: #fff;
}

.color1 h1,
.color1 h2,
.color1 h3,
.color1 h4,
.color1 blockquote,
.color1 a
{
    color: #444;
}
.color1 a.btn
{
    color: #fff;
}
.color1 a.btn:hover
{
    color: #3e7ede;
}

/*color4*/
.color4,
.slice.color4,
.bulle.color4,
.ctaBox.color4
{
    color: #ccc;
    background-color: #3e7ede !important;
}

.color4 h1,
.color4 h2,
.color4 h3,
.color4 h4,
.color4 blockquote,
.color4 a
{
    color: #fff;
}
.color4 h2.subTitle:after,
.color4 h1.noSubtitle:after
{
    background: #fff;
}
/*** icons ***/
.iconRounded
{color: rgba(134, 79, 194, 1);
    border: 2px solid rgba(134, 79, 194, 1);
    background-color: #fff;
}
.iconRounded:hover,
.color1 .iconRounded:hover
{color: #fff;
    background-color: rgba(134, 79, 194, 1);
}
.color1 .iconRounded
{
    color: #eb7f37;
}
.color4 .iconRounded
{color: #eb7f37;
    background-color: #fff;
}

/* END NEKO CSS FRAMEWORK
================================================== */