<section data-ng-controller="ClassManagementController">
	
    <h1>Create a Class</h1>

		<form name="cmForm" class="form-horizontal col-md-6" role="form" data-ng-submit="create(cmForm.$valid)" novalidate>

                 
            <div class="form-group" ng-class="{ 'has-error' : submitted && cmForm.class.$invalid }">
                
                <label mean-token="'create-class'">Enter text</label>
                            
                    <input type="text" name="classname" class="form-control" data-ng-model="classname" id="classname" placeholder="Class Name" required></input>
                        
                    <div ng-show="submitted && cmForm.classname.$invalid" class="help-block">
                        <p>Class name is required</p>
                    </div>

                    
                <button type="submit" class="btn btn-sm">Submit</button>

                        
            </div>
                        
            
        </form>
                
</section>

