{% for file in assets.core.js %}
    <script type="text/javascript" src="{{file}}"></script>
{% endfor %}

{% if (process.env.NODE_ENV == 'development') %}
    <!-- Livereload script rendered -->
    <script type="text/javascript" src="{{'http://' + req.host + ':35729/livereload.js'}}"></script>
{% endif %}

<script type="text/javascript" src="/modules/aggregated.js"></script>



        <script type="text/javascript" src="/system/assets/js-plugin/respond/respond.min.js"></script>
        <script type="text/javascript" src="/system/assets/js-plugin/jquery/1.8.3/jquery.min.js"></script>
        <script type="text/javascript" src="/system/assets/js/uuid.js"></script>
        <!--<script type="text/javascript" src="/public/system/assets/js-plugin/jquery-ui/jquery-ui-1.8.23.custom.min.js"></script>-->
        <!-- third party plugins  -->
        <script type="text/javascript" src="/system/assets/bootstrap/js/bootstrap.js"></script>
        <script type="text/javascript" src="/system/assets/js-plugin/easing/jquery.easing.1.3.js"></script>

        <script type="text/javascript" src="/system/assets/js-plugin/flexslider/jquery.flexslider-min.js"></script>

        <!--<script type="text/javascript" src="/system/assets/js-plugin/magnific-popup/jquery.magnific-popup.min.js"></script>
        <script type="text/javascript" src="/system/assets/js-plugin/parallax/js/jquery.scrollTo-1.4.3.1-min.js"></script>
        <script type="text/javascript" src="/system/assets/js-plugin/parallax/js/jquery.localscroll-1.2.7-min.js"></script>
        <script type="text/javascript" src="/system/assets/js-plugin/parallax/js/jquery.stellar.min.js"></script>

        <script type="text/javascript" src="/system/assets/js-plugin/smoothscroll/SmoothScroll.js"></script>-->
        <script type="text/javascript" src="/system/assets/js-plugin/pageSlide/jquery.pageslide-custom.js"></script>
        <script type="text/javascript" src="/system/assets/js-plugin/jquery.sharrre-1.3.4/jquery.sharrre-1.3.4.min.js"></script>



        <!-- Custom  -->
        <script type="text/javascript" src="/system/assets/js/custom.js"></script>




<p>&copy; Intelling.io, a project of <a href="http://www.ladeezfirstmedia.com" target="_blank">Ladeez First Media</a></p>
