<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <title>{{appName}} - {{title}}</title>
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8">
    <meta name="keywords" content="language learning">
    <meta name="description" content="Intelling.io">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">


    <meta property="fb:app_id" content="APP_ID">
    <meta property="og:title" content="{{appName}} - {{title}}">
    <meta property="og:description" content="Intelling.io">
    <meta property="og:type" content="website">
    <meta property="og:url" content="APP_URL">
    <meta property="og:image" content="APP_LOGO">
    <meta property="og:site_name" content="Intelling.io">
    <meta property="fb:admins" content="APP_ADMIN">


    {% for file in assets.core.css %}
        <link rel="stylesheet" href="{{file}}">
    {% endfor %}

    <!-- Bootstrap  -->
        <link type="text/css" rel="stylesheet" href="/system/assets/bootstrap/css/bootstrap.min.css">
        <!-- web font  -->
        <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,800" rel="stylesheet" type="text/css">
        <!-- plugin css  -->
        <link rel="stylesheet" type="text/css" href="/system/assets/js-plugin/animation-framework/animate.css" />
        <!--<link rel="stylesheet" type="text/css" href="/system/assets/js-plugin/magnific-popup/magnific-popup.css" />
        <link type="text/css" rel="stylesheet" href="/system/assets/js-plugin/isotope/css/style.css">-->
        <link rel="stylesheet" type="text/css" href="/system/assets/js-plugin/flexslider/flexslider.css" />
        <link rel="stylesheet" type="text/css" href="/system/assets/js-plugin/pageSlide/jquery.pageslide.css" />
        <!-- icon fonts -->
        <link type="text/css" rel="stylesheet" href="/system/assets/font-icons/custom-icons/css/custom-icons.css">
        <link type="text/css" rel="stylesheet" href="/system/assets/font-icons/custom-icons/css/custom-icons-ie7.css">

        <!-- Custom css -->
        <link type="text/css" rel="stylesheet" href="/system/assets/css/layout.css">
        <link type="text/css" id="colors" rel="stylesheet" href="/system/assets/css/colors.css">
        <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script> <![endif]-->
        <script src="/system/assets/js/modernizr-2.6.1.min.js"></script>
        <!-- Favicons
        ================================================== -->
        <link rel="shortcut icon" href="/system/img/favicon.ico">
        <link rel="apple-touch-icon" href="/system/img/apple-touch-icon.png">
        <link rel="apple-touch-icon" sizes="72x72" href="/system/img/apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="114x114" href="/system/img/apple-touch-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="144x144" href="/system/img/apple-touch-icon-144x144.png">


    <!--<link rel="stylesheet" href="/modules/aggregated.css">-->

    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
</head>
