<section class="slice color1" id="services">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12">
                                <h1>About Intelling.io</h1>
                                <h2 class="subTitle">We bring the language lab into your home and onto your phone</h2>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="row boxFeature">
                                    <div class="col-xs-3">
                                        <i class="icon-thumbs-up iconBig"></i>
                                    </div>
                                    <div class="col-xs-9">
                                        <h2>Easy for students</h2>
                                        <p>Custom-designed for ease of use, Intelling.io makes perfecting a second language convenient.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="row boxFeature">
                                    <div class="col-xs-3">
                                        <i class="icon-bell  iconBig"></i>
                                    </div>
                                    <div class="col-xs-9">
                                        <h2>Convenient for teachers</h2>
                                        <p>A one-stop shop for curriculum design, assignments, grading, and feedback for the language teacher</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="row boxFeature">
                                    <div class="col-xs-3">
                                        <i class="icon-chat iconBig"></i>
                                    </div>
                                    <div class="col-xs-9">
                                        <h2>Multiple Learning Modes</h2>
                                        <p>Listening Comprehension, Ear Training, Speech Perfection and more!</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="row boxFeature">
                                    <div class="col-xs-3">
                                        <i class="icon-mobile iconBig"></i>
                                    </div>
                                    <div class="col-xs-9">
                                        <h2>Web and Mobile-enabled</h2>
                                        <p>Designed to support multiple screens, we understand the latest technology and build for it.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
</section>

<!--<section class="slice color1" id="pricing">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12">
                                <h1 class="noSubtitle">Our plans</h1>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-3 col-sm-6">
                                <div class="pricingBloc">
                                    <h2>Free</h2>
                                    <h3>0$<span>per month</span></h3>
                                    <ul>
                                        <li>This is what you get For free</li>
                                        <li>Not bad, but could be better</li>
                                        <li>-</li>
                                        <li>-</li>
                                        <li>-</li>
                                        <li>-</li>
                                    </ul>
                                    <p class="sign">
                                        <a class="btn" href="https://wrapbootstrap.com/theme/ashley-one-page-parallax-bootstrap-3-WB0R11207">
                                            Sign up
                                        </a>
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <div class="pricingBloc">
                                    <h2>Silver</h2>
                                    <h3>10$<span>per month</span></h3>
                                    <ul>
                                        <li>This is a little better</li>
                                        <li>Though</li>
                                        <li>Not the best plan for you!</li>
                                        <li>-</li>
                                        <li>-</li>
                                        <li>-</li>
                                    </ul>
                                    <p class="sign">
                                        <a class="btn" href="https://wrapbootstrap.com/theme/ashley-one-page-parallax-bootstrap-3-WB0R11207">
                                            Sign up
                                        </a>
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <div class="pricingBloc focusPlan">
                                    <h2>Gold</h2>
                                    <h3>25$<span>per month</span></h3>
                                    <ul>
                                        <li>Honestly, go Premium</li>
                                        <li>We have a lot</li>
                                        <li>of cool features for you!</li>
                                        <li>Really, you will love what you will get</li>
                                        <li>Come on!!</li>
                                        <li>Please!!!</li>
                                    </ul>
                                    <p class="sign">
                                        <a class="btn btn-large" href="https://wrapbootstrap.com/theme/ashley-one-page-parallax-bootstrap-3-WB0R11207">
                                            Sign up
                                        </a>
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <div class="pricingBloc">
                                    <h2>Platinium</h2>
                                    <h3>40$<span>per month</span></h3>
                                    <ul>
                                        <li>This one is super good</li>
                                        <li>Super awesome</li>
                                        <li>Just the right plan for you</li>
                                        <li>If you are</li>
                                        <li>A super pro!</li>
                                        <li>No kidding</li>
                                    </ul>
                                    <p class="sign">
                                        <a class="btn" href="https://wrapbootstrap.com/theme/ashley-one-page-parallax-bootstrap-3-WB0R11207">
                                            Sign up
                                        </a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
</section>
-->
<section id="contact">
<div id="paralaxSlice4" data-stellar-background-ratio="0.5" >
                        <div class="maskParent">
                            <div class="paralaxMask"></div>

                            <div class="paralaxText">
                                <blockquote>How Can We Help You?</blockquote>

                            </div>
                        </div>
</div>
<section class="slice" id="contactSlice" >
                        <div class="container">
                            <div class="row">

                            <div class="col-sm-12">
                                <h1 class="noSubtitle">Contact us</h1>
                            </div>

                              <div data-ng-controller="ContactUsCtrl" class="form contact_us_form main-form">
                                <form ng-submit="contactus()" class="contact-us form-horizontal">
                                  <div class="col-md-4 col-md-offset-4">
                                      <div class="alert alert-success animated fadeIn" ng-show="response">Thank you for your email. We will respond shortly!</div>
                                        <div class="form-group">
                                          <label for="email">Email</label>
                                          <input type="email" class="form-control required" ng-model="user.email"  name="email" id="email" placeholder="Enter email" title="Please enter a valid email address"/>
                                      </div>
                                      <div class="form-group">
                                          <label for="message">Comments</label>
                                          <textarea name="message" class="form-control required" ng-model="user.message" id="message" cols="3" rows="5" placeholder="Enter your message…" title="Please enter your message (at least 10 characters)"></textarea>
                                      </div>
                                      <div class="form-group">
                                              <button type="submit" class="btn btn-primary">Send</button>
                                      </div>
                                  </div>
                                </form>
                              </div>

                            </div>
                        </div>
        </section>
</section>
