<ul class="slides">
    <li>
        <h1>Welcome to Intelling.io!</h1>
            <h2>Learn to speak and understand a second language the fun and convenient way.</h2>
    </li>
    <li>
        <h1>Learn a Second Language</h1>
        <h2>Cutting-edge audio tools help students perfect their mastery of a second language.</h2>
    </li>
    <li>
        <h1>Authentic Learning</h1>
            <h2>Upload a script and record a voice version of it for your classes.</h2>
    </li>
</ul>
