<section data-ng-controller="OnlineOralsController" data-ng-init="findOne()" >

    <h1>{{onlineorals.title}}</h1>


    <form name="ooForm" class="form-horizontal" role="form" data-ng-submit="update(ooForm.$valid)" novalidate>

      <input class="form-control" data-ng-model="onlineorals.title" placeholder="Title"/>

    </form>

		<div class="row">

					<span class="col-md-6">
							<div class="bg-info">
								<h3>To record your voice, please use a Chrome web browser.</h3>
								<ul>
										<li>1. Click 'allow' in the bar that appears at the top of your browser to allow access to your computer's microphone.</li>
										<li>2. Click the 'microphone' icon in the pane below to start recording.</li>
										<li>3. When complete, click the microphone again.</li>
										<li>4. Download your recording by clicking the 'download' icon below the microphone pane.</li>
										<li>5. Your audio file is saved as a .wav to your computer. Upload it to Intelling.io by clicking the 'upload' icon</li>
										<li>6. Save your exercise by clicking 'submit'</li>
								</ul>
						</div>

					</span>

					<span class="col-md-6">

						<iframe style="width: 500px;height: 200px" src="http://webaudiodemos.appspot.com/AudioRecorder/index.html"></iframe>

						<span style="padding-top:10px" data-ng-controller="MeanUploadController">
								<mean-upload file-dest="generatePath(onlineorals._id)"
										upload-callback="uploadFinished(files)"
										upload-file-callback="uploadFileCallback(file)">
								</mean-upload>
						</span>

					</span>

		</div>


<button data-ng-click="update(ooForm.$valid,true)" class="btn btn-primary btn-sm">Save</button>

</section>
