<div ng-controller="OnlineOralsController" data-ng-init="findOne()">
  <!--todo give a listening comp paragraph a title-->
  <h1>Assign "{{onlineorals.title}}" to a Class</h1>

  <section ng-controller="ClassManagementController" data-ng-init="getClasses()">

    <div class="alert alert-danger animated fade in" ng-show="assignerror">{{assignerror}}</div>
  <div class="alert alert-success animated fade in" ng-show="assignsuccess">{{assignsuccess}}</div>
    <!--<p><pre>{{selectedClass}}</pre></p>-->
    <div class="row">
      <div class="col-xs-3">
        <div class="form-group">
          <label>Classes</label>
          <select class="form-control" ng-model="selectedClass" ng-options="edclass.classname for edclass in edclasses"></select>
        </div>
      </div>
      <div class="col-xs-9">
        <table class="table-condensed table-hover table-striped" data-ng-init="findStudents()">
          <thead>
            <tr>
              <th>Name</th>
              <th>Email</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="student in users" ng-show="selectedClass.students.indexOf(student._id) !== -1 && selectedClass">
              <td>{{student.name}}</td>
              <td>{{student.email}}</td>
            </tr>
            <tr>
              <td>
                <button type="submit" class="btn btn-primary" ng-click="assign(true,selectedClass,onlineorals._id,onlineorals.title,'Online Oral Exam',4,onlineorals.onlineoralselements)">Assign this Activity</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

    </section>


  </div>
