

<h1>Online Orals Paragraph Builder</h1>

<section data-ng-controller="OnlineOralsController">

<div class="alert alert-danger animated flash" ng-show="ooerror">{{ooerror}}</div>

  <div class="panel panel-primary">
    <div class="panel-heading">Name of the Oral Exam</div>
    <div class="panel-body">

        <form name="ooForm" role="form" data-ng-submit="create(ooForm.$valid)" novalidate>
            <div class="form-group">
                    <div class="form-group" ng-class="{ 'has-error' : submitted && ooForm.paragraph.$invalid }">
                      <input name="title" type="text" class="form-control" data-ng-model="title" id="title" placeholder="Name of this exam" required>

            </div>
              <button type="submit" class="btn btn-sm btn-primary">Next</button>
        </form>

  </div>


</section>
