<h1>All Online Orals Paragraphs</h1>

    <section data-ng-controller="OnlineOralsController" data-ng-init="find()">

      <p class="alert alert-info">
        In this area, create an online oral exam for your students. Record an open-ended topic question
        and your students will record their answer to it to showcase their command of the language.
      </p>

        <h3 data-ng-hide="!onlineorals || onlineorals.length">No onine orals paragraphs yet.</h3>


        <p class="pull-left"><a class="btn btn-sm" href="/#!/onlineOrals/create"><i class="glyphicon glyphicon-plus"></i> Create new online oral exam</a></p>

            <table class="table table-striped table-bordered table-hover editable-table">

                <th>Online Orals Paragraph</th>
                <th>Audio</th>
                <th>Created By</th>
                <th>Manage</th>
                <th>Assign</th>

                <tbody data-ng-repeat="onlineorals in onlineorals">

                    <tr data-ng-if="hasAuthorization(onlineorals)">
                        <td>
                              <a data-ng-href="#!/onlineOrals/voice/{{onlineorals._id}}">{{onlineorals.title}}</a>
                        </td>
                        <td>
                          <button class="btn btn-success btn-sm" ng-click="play(onlineorals._id)"><i class="glyphicon glyphicon-play"></i></button>
                          <button class="btn btn-danger btn-sm" ng-click="pause(onlineorals._id)"><i class="glyphicon glyphicon-stop"></i></button>
                        </td>
                        <td>
                              {{onlineorals.created | date:'short'}} by {{onlineorals.user.name}}
                        </td>

                        <td>
                                <a class="btn btn-sm" href="/#!/onlineOrals/voice/{{onlineorals._id}}">
                                    <i class="glyphicon glyphicon-edit"></i>Edit
                                </a>
                                <a class="btn btn-danger btn-sm" data-ng-click="remove(onlineorals);">
                                    <i class="glyphicon glyphicon-trash"></i>Delete
                                </a>
                        </td>

                        <td>
                                <a class="btn btn-success btn-sm" href="/#!/onlineOrals/assign/{{onlineorals._id}}">
                                    <i class="glyphicon glyphicon-ok"></i>Assign
                                </a>
                        </td>

                    </tr>

                </tbody>
            </table>

    </section>
