<!--                    
       

        <section data-ng-controller="ListeningCompController" data-ng-init="findOne()" >
             
        <h1>{{listeningcomp.title}}</h1>

        <div class="row">

        <form name="lsForm" class="form-horizontal col-md-6" role="form" data-ng-submit="update(lsForm.$valid)" novalidate>

        
        <h2>Paragraph text</h2>
    
                        
            <div class="form-group" ng-class="{ 'has-error' : submitted && lsForm.paragraph.$invalid }">
                <textarea name="content" data-ng-model="listeningcomp.paragraph" id="content" cols="50" rows="5" placeholder="Paragraph" class="form-control" required></textarea>
                <div ng-show="submitted && lsForm.paragraph.$invalid" class="help-block">
                <p ng-show="lsForm.paragraph.$error.required">Paragraph is required</p>
                </div>
            </div>

           
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="voice" data-ng-model="listeningcomp.voice"><i class="glyphicon glyphicon-headphones"></i>Includes Voice Recording
                    </label>
                </div>
                   
        </form>
    
    </div>

    <div class="row">

        <h2>Add Questions about this paragraph</h2>
       
        
        <form id="quiz-add-form" class="form-inline" role="form" name="lcQuestionForm" data-ng-submit="add()">
          <div class="form-group">
            <input class="form-control"  data-ng-model="newQuestion" placeholder="Question">
          </div>
          <input type="submit" class="btn btn-sm" value="Add"/>
        </form>

        
            <h3 data-ng-hide="!listeningcomp.listeningcompelements || listeningcomp.listeningcompelements.length">No questions yet.</h3>

            <table class="table table-striped table-bordered table-hover editable-table" data-ng-if="listeningcomp.listeningcompelements.length > 0">
               
                 <tbody>  
                        <th>Question</th>
                        <th>Manage</th>
                    
               
                    <tr data-ng-repeat="listeningcompElement in listeningcomp.listeningcompelements">
                        <td>
                            <input type="text" class="form-control" data-ng-model="listeningcompElement.question" placeholder="Question"  />
                        </td>
                       <td>
                            <button class="btn btn-sm" data-ng-click="removeListeningCompElement(listeningcompElement)" value="del"><i class="glyphicon glyphicon-trash"></i>Delete</button>
                        </td>
                    </tr>
                </tbody>
                </table>

                <br/>
          </div>              
                   
</section>-->
